version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=fastprintdb
      - POSTGRES_USER=fastprintuser
      - POSTGRES_PASSWORD=fastprintpassword

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_NAME=fastprintdb
      - DATABASE_USER=fastprintuser
      - DATABASE_PASSWORD=fastprintpassword
      - DATABASE_HOST=db
      - DATABASE_PORT=5432

volumes:
  postgres_data: